[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "GubberBlump"

[packages]
opencv-python = "*"
pyautogui = "*"
numpy = "*"
matplotlib = "*"
pillow = "*"
pyuserinput = "*"
python-libinput = "*"

[dev-packages]

[requires]
python_version = "3.9"
